/*
@font-face {
    font-family: "Noto Sans Mono CJK TC Regular";
    src: url(fonts/NotoSansMonoCJKtc-Regular.otf);
}
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url(//fonts.googleapis.com/earlyaccess/notosanskannada.css);
 *{
    font-family: "Noto Sans Mono CJK TC Regular",helvetica;
    box-sizing: border-box;
} 
h1,h2,h3,h4,h5,h6{
    font-family: "Noto Sans Mono CJK TC Regular",helvetica;
    box-sizing: border-box;
}
p,h1,h2,h3,h4,h5,h6,body{
    margin: 0;
    padding: 0;
}
p,span,h1{
    font-family: "Noto Sans Mono CJK TC Regular",helvetica;
    box-sizing: border-box;
}
*/

/*** dian-css ***/
html{
    background: url(../images/BG.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: 'Microsoft JhengHei', arial;
    min-height: 100vh;
    background: none;
}
a{
    text-decoration: none;
    color: #111;
    outline: none;
}

/** header **/
.dian-topnav {
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    -webkit-transition: all .25s ease;
	transition: all .25s ease;
}
.dian-topnav.black {
    color: #000;
	background: rgba(0, 0, 0, .8);
    
}
.dian-topnav.white {
    color: white;
    background: rgba(0, 0, 0, .1);
}
    .dian-topnav .navbar-brand {
        max-width: 150px;
        margin-left: 0;
    }
        .dian-topnav .navbar-brand img{
            width: 60%;
        }
.navbar-nav {
    margin-right: 0;
}
.navbar-nav .nav-item {
    letter-spacing: .2rem;
}
.navbar-nav .nav-item.active {
    color: #FFF;
}
.navbar-nav .nav-item.active:not(.dropdown) {
    pointer-events: none;
}
    .navbar-nav .nav-item + .nav-item {
        margin-left: 0;
    }
        .navbar-nav .nav-item .nav-link {
            -webkit-transition: all 1s ease-in-out; /* Safari */
            transition: all 1s ease-in-out;
        }
        .navbar-nav .nav-item .nav-link:active,
        .navbar-nav .nav-item .nav-link:focus,
        .navbar-nav .nav-item .nav-link:visited {
            color: rgba(255,255,255,.5);
        }
        .navbar-nav .nav-item:not(.active) .nav-link:hover {
            color: #DF4B05;
        }

.navbar-nav .nav-item .dropdown-menu {
    padding: 0;
    overflow: hidden;
    border: none;
}
    .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        padding: .9rem 1.5rem;
    }
    .navbar-nav .nav-item .dropdown-menu .dropdown-item + .dropdown-item {
        border-top: 1px solid #e9ecef; 
    }
    .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus,
    .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
        color: #FFF;
        text-decoration: none;
        background-color: #DF4B05;
    }
    .navbar-nav .nav-item .dropdown-menu .dropdown-divider {
        margin: 0;
    }

.dropdown.open > .dropdown-menu {
    display: block;
}

.navbar-toggler:focus {
    outline: none;
}

/** page共用 **/
.page-content {
    min-height: 40rem;
    height: 100vmin;
    overflow: hidden;
}
.headerbanner {
    padding-top: 61px;
    width: 100vw;
    position: relative;
}
    .headerbanner .content {
        position: initial;
        top: 26vh;
        right: 5vw;
        text-align: center;
        line-height: 1.5rem;
        font-size: 1rem;
        margin: 1.5rem 1rem;
        padding: .5rem;
        color: #fff;
        text-shadow: 2px 2px 5px #000;
        background: rgba(255, 255, 255, 0);
        border-radius: .5rem;
        -webkit-transition: all 1s ease-in-out; /* Safari */
        transition: all 1s ease-in-out;
    }
        .headerbanner .content h1 {
            margin-bottom: 1rem;
            margin-top: .8rem;
            letter-spacing: .1rem;
            font-size: 1.5rem;
        }
        .headerbanner .content p {
            letter-spacing: .05rem;
            margin-bottom: .5rem;
            line-height: 2rem;
        }
.main .main-item {
    background: #FFF;
    padding-bottom: 6.5rem;
}
.main .main-item + .main-item {
    margin-top: 0;
}
    .main .main-item h2.title {
        text-align: center;
        font-size: 1.3rem;
        padding: 4rem 1rem;
        font-weight: 600;
    }
    .main .main-item .article-box {
        max-width: 90vw;
        text-align: center;
        margin: 0 auto;
    }
    .main .main-item .article-box + .article-box {
        margin-top: 5rem;
    }
        .main .main-item .article-box > .p-box{
            margin: 3rem 1rem;
        }
            .main .main-item .article-box p{
                font-size: 1rem;
                margin-bottom: .3rem;
                font-weight: 600;
            }
        .main .main-item .article-box h3 {
            font-weight: 900;
            font-size: 1.2rem;
            margin: 1rem auto;
        }

/*
header .content a {
    display: inline-block;
    color: #fff;
    padding: 10px 25px;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
}
*/
/** page-home **/
#home .headerbanner{
    background: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    #home .headerbanner .content {
        background: rgba(0, 0, 0, 0.3);
        text-shadow: 1px 1px 5px #000;
    }

/** page-sharebonus **/
#sharebonus .headerbanner{
    background: url(../images/sharebonus-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
}
    #sharebonus .headerbanner .content {
        background: rgba(0, 0, 0, 0.3);
        text-shadow: 1px 1px 5px #000;
    }
        #sharebonus .headerbanner .content .logo {
            max-width: 40%;
            margin-bottom: .5rem;
        }
        #sharebonus .headerbanner .content h1 {
/*            font-family: "Noto Sans Mono CJK TC Regular",helvetica;*/
        }
#sharebonus .dian-download-box {
    margin: 1.5rem .5rem .5rem;
}
    #sharebonus .dian-download {
        background: rgba(255, 255, 255, .1);
        text-shadow: none;
        color: #FFF;
        border: 2px solid;
        box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .5);
        display: block;
        margin: .5rem;
    }

    #sharebonus .main .main-last-item {
        padding-bottom: 2.5rem;
    }

/** page-gragrago **/
#gragrago .headerbanner{
    background: url(../images/gragrago-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 21%;
}
#gragrago .headerbanner .hand {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
#gragrago .headerbanner .hand img {
    width: 100%;
    max-width: 400px;
    margin-left: -10%;
}
    #gragrago .headerbanner .content {
        position: relative;
        top: 10%;
        text-shadow: 1px 1px 5px #000;
        right: 0;
        margin: 1rem;
    }
        
        #gragrago .headerbanner .content .logo {
            width: 65%;
            max-width: 300px;
        }
        #gragrago .headerbanner .content h1 {
/*            font-family: "Noto Sans Mono CJK TC Regular",helvetica;*/
        }
    #gragrago .main #first.main-item {
        padding-top: 6rem;
        padding-bottom: 0;
    }
    #gragrago .main .main-item + .main-item {
        padding-top: 6rem;
        padding-bottom: 0;
        margin-top: 0;
    }
    #gragrago .main .main-item h2.title {
        font-size: 1.3rem;
        padding: .5rem;
    }
    #gragrago .main .main-item h2.title + h2.title {
        padding-top: 0;
    }
    #gragrago .main .main-item .article-box > .p-box {
        margin: 1rem 0 3rem;
        color: #555;
    }
    #gragrago .main .main-item .article-box p {
        font-size: .9rem;
    }
    #gragrago .main .main-item:last-of-type {
        padding: 6rem 0;
    }

/*
    #gragrago .headerbanner .content {
        position: initial;
        top: 26vh;
        right: 5vw;
        text-align: center;
        line-height: 1.5rem;
        font-size: 1rem;
        margin: 1.5rem 1rem;
        padding: .5rem;
        color: #fff;
        text-shadow: 2px 2px 5px #000;
        background: rgba(255, 255, 255, 0);
        border-radius: .5rem;
        -webkit-transition: all 1s ease-in-out;  Safari 
        transition: all 1s ease-in-out;
    }
*/



/** page-shajia **/
#shajia .headerbanner{
    background: url(../images/shajiabanner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60%;
}

#shajia .headerbanner .content {
	left: 40%;
}

#shajia .dian-download-box {
	margin: 2.5rem .5rem .5rem;
}

#shajia .dian-download {
	background: rgba(255, 255, 255, .1);
	text-shadow: none;
	color: #FFF;
	border: 2px solid;
	box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, .5);
	display: block;
	margin: .5rem;
}	

/** page-about **/
#dian-about .headerbanner{
    background: url(../images/our.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    #dian-about .headerbanner .content {
        position: static;
    }
#dian-about .img-box {
    position: relative;
}
#dian-about .dian-slogan {
    position: absolute;
    width: 100%;
    bottom: calc(50% - 15vh);
    text-align: center;
    color: #FFF;
}
#dian-about .dian-slogan h1 {
    font-size: 3rem;
    letter-spacing: .3rem;
}
#dian-about .dian-slogan p {
    letter-spacing: .1rem;
    margin: .8rem auto 2rem;
}
#dian-about .dian-slogan a.aboutus {
    padding: .6rem 1.5rem;
    color: #FFF;
    border: .2rem solid #fff;
    text-decoration: none;
    outline: none;
}

#dian-about .about-img1 {
    border-radius: 5rem;
}
#dian-about .p-box p {
    line-height: 1.5rem;
    letter-spacing: unset;
    text-align: left;
}

#dian-about .card {
    border: none;
    border-radius: unset;
    background: unset;
}
#dian-about .card .card-body {
    padding: 1.25rem 1.5rem;
}
    #dian-about .card .card-body .services-img {
        margin: 0 auto;
        max-width: 10rem;
        max-height: 10rem;
        overflow: hidden;
    }
        #dian-about .card .card-body .services-content .name {
            font-size: 1.2rem;
            margin: 1rem auto .2rem;
            text-align: center;
        }
        #dian-about .card .card-body .services-content .name small {
            margin-left: .5rem;
        }
        #dian-about .card .card-body .services-content .job {
            font-size: 1rem;
            font-weight: 600;
            color: #777;
            text-align: center;
        }
        #dian-about .card .card-body .services-content .intro {
            font-size: .85rem;
            color: #888;
            letter-spacing: .05rem;
        }
.services-img .img-top-15 {
    margin-top: -1.5rem;
}
.services-img .img-top-25 {
    margin-top: -2.5rem;
}

/** page-contact **/
#contact .headerbanner{
    background: url(../images/header-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#contact h1 {
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 #FFF;
}
#contact .container {
    width: 100%;
    max-width: 35rem;
    text-align: center;
    margin: 5rem auto;
}
#contact form.cf .form-control {
    outline: none;
    border: none;
}
#contact form.cf textarea.form-control {
    max-height: 10%;
}
#contact form.cf .form-control:focus {
    background: #EEE;
    -webkit-box-shadow: 0 0 .5rem .2rem #e74c3c;
    box-shadow: 0 0 .5rem .2rem #e74c3c;
}
#contact form.cf #sendemail {
    color: white;
    background: #e74c3c;
    outline: none;
    border: none;
    padding: .5rem;
    margin: 1rem auto;
}
#contact form.cf #sendemail:hover {
    background: #AAA;
}

/** footer **/
.dian-footer {
    color: #FFF;
    background: #2E2E2E;
    font-size: .8rem;
    padding: 1rem;
    min-height: 5rem;
    letter-spacing: .1rem;
}
    .dian-footer .footer-box + .footer-box{
        border-top: .5px dashed #555;
        padding-top: .5rem;
        margin-top: .5rem;
    }
        .dian-footer .footer-box .info-box{

        }
            .dian-footer .footer-box .info-box .title{
                font-weight: 900;
            }
                .dian-footer .footer-box .info-box .title::after {
                    content: '：';
                    margin-right: .1rem;
                }
            .dian-footer .footer-box .info-box .txt{
                color: #CCC;
            }
.dian-footer .dian-map i{
    font-size: 1.3rem;
    margin-left: .5rem;
    color: #FFF;
}

/* 解決iframe RWD問題 */
.iframe-rwd {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.iframe-rwd iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* footer 地圖彈窗 */
#mapModal .modal-content {
    background: rgba(255, 255, 255, 1);
    border: 2px solid #FFF;
}
#mapModal .modal-header {
    color: #000;
    border-bottom: unset;
}
.modal-header .modal-title {
    font-weight: 600;
    margin: 0 auto;
}
.modal-header .close {
    margin: -1rem -1rem -1rem 0;
}
#mapModal .modal-footer {
    padding: 1rem;
    border-top: unset;
}

/** 回頂按鈕 **/
#gotop {
    position: fixed;
    border-radius: .5rem;
    right: 1rem;
    bottom: 1.5rem;
    padding: .3rem .8rem;
    background: rgba(255, 87, 34, .2);
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;

    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#gotop:hover {
    background: rgba(255, 87, 34, .5);
}
#gotop i,
#gotop span {
    display: block;
}
#gotop i {
    font-size: 1.2rem;
}
#gotop span {
    font-size: .6rem;
    position: relative;
    top: -.2rem;
}
