[class^='text-container'] {
    /* width: 100%; 要註解掉，不然會造成整個頁面偏出去有左右卷軸(或者之後可以嘗試鎖水平捲軸)*/
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
/*    font-family: "Cutive Mono", monospace;*/
    letter-spacing: 4px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    text-shadow: 1px 1px 5px #000;
}
.text-container {
    top: 20%;
    left: 65%;
    font-size: 20px;
}
.text-container-2 {
    top: 27%;
    left: 75%;
    font-size: 25px;
}
.text-container-3 {
    top: 36%;
    left: 74%;
    font-size: 30px;
}

.text-container-4 {
    top: 50%;
    left: 70%;
    font-size: 40px;
}

.text-container-5 {
    bottom: 25%;
    left: 70%;
    width: 100%;
    text-shadow: none;
}
.text-container-5 .dian-download {
    bottom: 25%;
    left: 70%;
    width: 100%;
}

@media (max-width:768px) {
    [class^='text-container'] {
        -webkit-transform: none;
        transform: none;
    }
    .text-container {
        left: 50%;
        font-size: 1.2rem;
    }
    .text-container-2 {
        left: 62%;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }
    .text-container-3 {
        left: 42%;
        font-size: 1.5rem;
        letter-spacing: 0;
    }
    .text-container-4 {
        left: 55%;
        font-size: 1.8rem;
        letter-spacing: 0;
    }
    .text-container-5 {
        left: 13%;
    }
}
@media (max-width:568px) {
    .text-container {
        left: 25%;
    }
    .text-container-2 {
        left: 30%;
    }
    .text-container-3 {
        left: 10%;
    }
    .text-container-4 {
        left: 28%;
    }
    .text-container-5 {
        bottom: 10%;
        left: 0;
        box-sizing: border-box;
        width: 95%;
    }
}



span {
    display: inline-block;
}

.reg-text {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 5s ease, -webkit-transform 3.3333333333s ease-out;
    transition: transform 3.3333333333s ease-out, opacity 5s ease;
    transition: transform 3.3333333333s ease-out, opacity 5s ease, -webkit-transform 3.3333333333s ease-out;
}
.reg-text.loaded {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.letter {
    transition: opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
    transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease;
    transition: transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 5s ease, opacity 5s ease, -webkit-transform 5s cubic-bezier(0.43, 0.1, 0.57, 0.9), -webkit-filter 5s ease;
    opacity: 0;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}
.letter:nth-of-type(2) {
    -webkit-transform: translateY(-160px);
    transform: translateY(-160px);
    transition-duration: 2.5s;
}
.letter:nth-of-type(3) {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(-170px);
    transform: translateY(-170px);
    transition-duration: 3.8461538462s;
}
.letter:nth-of-type(4) {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    transition-duration: 3.3333333333s;
}
.letter:nth-of-type(5) {
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
    transition-duration: 2.5s;
}
.letter:nth-of-type(6) {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transform: translateY(-180px);
    transform: translateY(-180px);
    transition-duration: 2.1739130435s;
}
.letter.loaded {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-filter: blur(0);
    filter: blur(0);
}