@media (min-width:321px) {

}
@media (min-width:568px) {
    .main .main-item .article-box {
        max-width: 80vw;
    }
    .main .main-item h2.title {
        font-size: 1.8rem;
        padding: 8rem 1rem;
    }
    
    #sharebonus .dian-download,
    #shajia .dian-download {
        display: inline;
        margin: 0 .5rem;
    }
    #gragrago .headerbanner .content {
        top: 5%;
    }
    #gragrago .headerbanner .content .logo {
        width: 50%;
        max-width: 500px;
    }
    #gragrago .headerbanner .hand img {
    width: 100%;
    max-width: 400px;
    margin-left: -10%;
    }
    #gragrago .main .main-item h2.title {
        font-size: 1.8rem;
        padding: .5rem;
    }
    #gragrago .main .main-item h2.title + h2.title {
        padding-top: 0;
    }
    #gragrago .main .main-item .article-box p {
        font-size: 1rem;
    }
}
@media (min-width:768px) {
    .dian-topnav.white {
/*        background: rgba(0, 0, 0, .1);*/
    }
    .dian-topnav .navbar-brand {
        margin-left: 7vw;
    }
    .navbar-nav {
        margin-right: 7vw;
    }
    .navbar-nav .nav-item + .nav-item {
        margin-left: 1rem;
    }
    .dian-footer .footer-box + .footer-box {
        border-left: .5px dashed #555;
        border-top: none;
        padding-top: unset;
        margin-top: unset;
    }
    .headerbanner .content {
        padding: 2rem;
        position: absolute;
        margin: 1rem;
    }
    .main .main-item .article-box {
        max-width: 60vw;
    }
    .main .main-item .article-box > .p-box {
        margin: 3rem 4rem;
    }
    
    #home .headerbanner .content {
        background: rgba(0, 0, 0, 0);
        text-shadow: unset;
        top: calc(50% - 280px);
        left: calc(50% - 150px);
    }
    #sharebonus .headerbanner{
        background-position: center;
    }
        #sharebonus .headerbanner .content {
            background: rgba(0, 0, 0, 0);
            text-shadow: unset;
        }
    #shajia .headerbanner {
        background-position: center;
        background-attachment: fixed;
    }
    #gragrago .headerbanner{
        background-position: center;
    }
        #gragrago .headerbanner .content {
            background: rgba(0, 0, 0, 0);
            text-shadow: unset;
            top: 20%;
            float: right;
            text-align: center;
            width: 65%;
        }
        #gragrago .headerbanner .content .logo {
            width: 100%;
            max-width: 550px;
            margin-bottom: .5rem;
            margin-right: 5rem;
        }
        #gragrago .headerbanner .hand {
            text-align: left;
        }
        #gragrago .headerbanner .hand img {
            max-width: 700px;
            margin-left: -20%;
        }
    #dian-about .card .card-body {
        padding: 1.25rem 2rem;
    }
    .main .main-item + .main-item {
        margin-top: 6.5rem;
    }
    #gragrago .main .main-item .article-box p {
        font-size: 1.1rem;
    }
}
@media (min-width:1024px) {
    .dian-topnav .navbar-brand {
        margin-left: 14vw;
    }
    .navbar-nav {
        margin-right: 14vw;
    }
    #dian-about .p-box p {
        line-height: 2rem;
        letter-spacing: .01rem;
    }
    #dian-about .card .card-body {
        padding: 1.25rem 3rem;
    }
    #gragrago .headerbanner .content .logo {
        max-width: 650px;
        margin: 0 auto;
    }
    
    #gragrago .headerbanner .hand img {
        max-width: 800px;
        margin-left: -15%;
    }
    
    #gragrago .main #first.main-item {
        padding-top: 12rem;
        padding-bottom: 0;
    }
    #gragrago .main .main-item + .main-item {
        padding-top: 12rem;
        padding-bottom: 0;
        margin-top: 0;
    }
    #gragrago .main .main-item h2.title {
        font-size: 1.8rem;
        padding: 1rem;
    }
    #gragrago .main .main-item .article-box > .p-box {
        margin: 2rem 0 6rem;
        color: #555;
    }
    #gragrago .main .main-item .article-box p {
        font-size: 1.3rem;
    }
    #gragrago .main .main-item:last-of-type {
        padding: 12rem 0;
    }
}
@media (min-width:1280px) {
    #sharebonus .headerbanner,
    #shajia .headerbanner,
    #gragrago .headerbanner {
        background-position: center;
        background-attachment: fixed;
    }
    
    #gragrago .headerbanner .hand img {
        max-width: 870px;
        margin-left: -5%;
    }
}